---
import Layout from "../layouts/Layout.astro"
import CommonQuestions from "../sections/CommonQuestions.astro"
import CoreFeatures from "../sections/CoreFeatures.astro"
import FeaturedNews from "../sections/FeaturedNews.astro"
import Hero from "../sections/Hero.astro"
import HowItWorks from "../sections/HowItWorks.astro"
import OurTeam from "../sections/OurTeam.astro"
import YourSupport from "../sections/YourSupport.astro"

export const prerender = true
---

<Layout>
	<main class="overflow-hidden">
		<Hero />
		<CoreFeatures />
		<HowItWorks />
		<YourSupport />
		<OurTeam />
		<FeaturedNews />
		<CommonQuestions />
	</main>
</Layout>
