---
export type Props = {
	title: string
	content: string
}
const { title, content } = Astro.props
---

<div class="row">
	<div class="border-gradient rounded-2xl flex flex-col">
		<div
			class="accordion-btn closed flex justify-between items-center cursor-pointer gap-6 px-8 2xl:px-[42px] py-4 2xl:py-6"
		>
			<p class="font-bold">{title}</p>
			<svg
				class="w-5 h-5 flex-shrink-0"
				width="20"
				height="20"
				viewBox="0 0 20 20"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					class="vertical hidden"
					d="M10 2.5V17.5"
					stroke="white"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
				<path
					d="M2.5 10H17.5"
					stroke="white"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
			</svg>
		</div>
		<div class="accordion-content cursor-text px-8 2xl:px-[42px] pb-4 2xl:pb-6">
			<slot set:html={content} />
		</div>
	</div>
</div>

<script>
	const buttons = document.querySelectorAll(".accordion-btn")
	buttons.forEach((button) => {
		button.addEventListener("click", () => {
			buttons.forEach((btn) => {
				if (btn !== button) {
					btn.classList.add("closed")
				}
			})
			button.classList.toggle("closed")
		})
	})
</script>

<style>
	.closed .vertical {
		display: block;
	}
	.closed + .accordion-content {
		display: none;
	}
	.row {
		border-radius: 16px;
		background: linear-gradient(180deg, #1b2228 0%, rgba(29, 36, 44, 0.4) 100%);
		box-shadow:
			0px 8.43621px 84.36215px 0px rgba(0, 0, 0, 0.4),
			0px 3.37449px 3.37449px 0.84362px rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(40px);
	}
</style>
