---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<div class="page-not-found p-4 text-center w-full h-[80vh] flex justify-center items-center">
		<h2 class="text-2xl lg:text-3xl">The page you're looking for can't be found.</h2>
	</div>
</Layout>
